
html{
    font-family: sans-serif;
}

h1 {
    color: #0000ff;
    font-size: 48px;
}

p {
    /* line-height: 2.4; */
} 

.color-green{
    color: green;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

#intro-para{
    font-weight: bold;
}

.pseudo-selector{
    color: aqua;
    font-style: italic;
}

.pseudo-selector:hover{
    color: blueviolet;
}

#intro-para:hover{
    font-weight: normal;
}

#child-1 + p{
    color: blue;
}

/* div {
    background-color: pink;
} */

.top-pist > li {
    color: orange;
}

.decantant-selector div p {
    color: beige;
}

img[alt] {
    color: red;
}

#heading-1{
    color: red ;
}

.primary-heading{
    color: green !important;
}

.heading-secondary{
    letter-spacing: 4px;
    text-transform: uppercase;
}

.text-aligin-div{
    text-align: left;
}

.text-decoration-text{
    text-decoration: underline;
}

.bottom-list{
    /* list-style: none; */
    list-style-position: inside;
}

.font-size-para{
    font-size: 24px;
}

.font-family-ex{
    font-family: 'Montserrat', sans-serif;
}

.linear-gradients div {
    height: 40px;
    width: 400px;
    margin-bottom: 40px;
}

.linear-gradient-1{
    background-image: linear-gradient(to right, #c5f6fa, #0c8599);
}

.linear-gradient-2{
    background-image: linear-gradient(to left, #c5f6fa, #0c8599);
}

.linear-gradient-3{
    height: 200px !important;
    background-image: linear-gradient(to right bottom, #ff8787, #f03e3e, blue);
}

.radial-gradients div{
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}

.radial-gradient-1{
    background-image: radial-gradient(circle, #74c0fc, #1098ad, #099268);
}

.conic-gradients div{
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}

.conic-gradient-1{
    background-image: conic-gradient(#74c0fc, #1098ad, #099268, blue);
}

.conic-gradient-2{
    background-image: conic-gradient(#3b5bdb 0deg, #3b5bdb 90deg,
                                    #1098ad 90deg, #1098ad 180deg,
                                    #f03e3e 180deg, #f03e3e 270deg,
                                    #0c8599 270deg, #0c8599 360deg);

}