<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!-- Buttons -->
    <div>
        <button class="btn btn-primary">Primary Button</button>
        <button class="btn btn-success">Success Button</button>
        <button class="btn btn-danger">Danger Button</button>
        <button class="btn btn-warning">Warning Button</button>
    </div>

    <!-- Links -->
    <div>
        <a href="#" class="btn-link btn-link-primary">Primary Button</a>
        <a href="#" class="btn-link btn-link-success">Success Button</a>
        <a href="#" class="btn-link btn-link-danger">Danger Button</a>
        <a href="#" class="btn-link btn-link-warning">Warnings Button</a>
    </div>

    <!-- Download Button -->
    <div>
        <button class="btn-download"><i class="fa fa-download" aria-hidden="true"></i> Download</button>
    </div>
</body>
</html>