<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- table>(thead>tr>th{id}th{Name}th{Salary}th{Department}th{Grade})+tbody>(tr>td{1000$}td{Employee $}td{department $}td{$00000}td{L$})*6 -->
    <table class="table-primary">
        <caption>Table Primary</caption>
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Department</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10001</td>
                <td>Employee 1</td>
                <td>department 1</td>
                <td>100000</td>
                <td>L1</td>
            </tr>
            <tr>
                <td>10002</td>
                <td>Employee 2</td>
                <td>department 2</td>
                <td>200000</td>
                <td>L2</td>
            </tr>
            <tr>
                <td>10003</td>
                <td>Employee 3</td>
                <td>department 3</td>
                <td>300000</td>
                <td>L3</td>
            </tr>
            <tr>
                <td>10004</td>
                <td>Employee 4</td>
                <td>department 4</td>
                <td>400000</td>
                <td>L4</td>
            </tr>
            <tr>
                <td>10005</td>
                <td>Employee 5</td>
                <td>department 5</td>
                <td>500000</td>
                <td>L5</td>
            </tr>
            <tr>
                <td>10006</td>
                <td>Employee 6</td>
                <td>department 6</td>
                <td>600000</td>
                <td>L6</td>
            </tr>
        </tbody>
    </table>
    <!-- Table Secondary -->
    <!-- table.table-secondary>(thead>tr>th{Roll No}th{Name}th{Grade}th{emergency contact})+tbody>(tr>td{UH000$}td{Student $}td{X}td{999999999$})*5 -->
    <table class="table-secondary">
        <caption>Table Secondary</caption>
        <thead>
            <tr>
                <th>Roll No</th>
                <th>Name</th>
                <th>Grade</th>
                <th>emergency contact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>UH0001</td>
                <td>Student 1</td>
                <td>X</td>
                <td>9999999991</td>
            </tr>
            <tr>
                <td>UH0002</td>
                <td>Student 2</td>
                <td>X</td>
                <td>9999999992</td>
            </tr>
            <tr>
                <td>UH0003</td>
                <td>Student 3</td>
                <td>X</td>
                <td>9999999993</td>
            </tr>
            <tr>
                <td>UH0004</td>
                <td>Student 4</td>
                <td>X</td>
                <td>9999999994</td>
            </tr>
            <tr>
                <td>UH0005</td>
                <td>Student 5</td>
                <td>X</td>
                <td>9999999995</td>
            </tr>
        </tbody>
    </table>

    <!-- Table Hover -->
    <!-- table.table-hover>caption{Table Hover}+(thead>tr>th{Product Id}th{Name}th{Quantity}th{Trader}th{Margin}th{Quantity})+tbody>(tr>td{XC000$}td{Product $}td{Q $}td{Jhon Smith}td{10%}td{100})*6 -->
    <table class="table-hover">
        <caption>Table Hover</caption>
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Name</th>
                <th>Quality</th>
                <th>Trader</th>
                <th>Margin</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>XC0001</td>
                <td>Product 1</td>
                <td>Q 1</td>
                <td>Jhon Smith</td>
                <td>10%</td>
                <td>100</td>
            </tr>
            <tr>
                <td>XC0002</td>
                <td>Product 2</td>
                <td>Q 2</td>
                <td>Jhon Smith</td>
                <td>10%</td>
                <td>100</td>
            </tr>
            <tr>
                <td>XC0003</td>
                <td>Product 3</td>
                <td>Q 3</td>
                <td>Jhon Smith</td>
                <td>10%</td>
                <td>100</td>
            </tr>
            <tr>
                <td>XC0004</td>
                <td>Product 4</td>
                <td>Q 4</td>
                <td>Jhon Smith</td>
                <td>10%</td>
                <td>100</td>
            </tr>
            <tr>
                <td>XC0005</td>
                <td>Product 5</td>
                <td>Q 5</td>
                <td>Jhon Smith</td>
                <td>10%</td>
                <td>100</td>
            </tr>
            <tr>
                <td>XC0006</td>
                <td>Product 6</td>
                <td>Q 6</td>
                <td>Jhon Smith</td>
                <td>10%</td>
                <td>100</td>
            </tr>
        </tbody>
    </table>
</body>
</html>