<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Card</title>
    <link rel="stylesheet" href="card1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-img-box">
                <img class="card-img" src="./assets/image-1.jpg" alt="Shopping Image">
            </div>
            <div class="card-content-box">
                <div class="heading">
                    <h4 class="card-name">Men's T Shirt</h4>
                    <span class="price">$45</span>
                </div>
                <p class="card-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                </p>

                <div class="color-box">
                    <h5 class="color-heading">Color</h5>
                    <div class="color-group">
                        <div class="color">
                            <input type="radio" id="card-1-red" name="color" value="red">
                            <label for="card-1-red"  class="label-color-red">
                                <span class="label-selected"></span>
                            </label>
                        </div>
    
                        <div class="color">
                            <input type="radio" id="card-1-black" name="color" value="red">
                            <label for="card-1-black"  class="label-color-black">
                                <span class="label-selected"></span>
                            </label>
                        </div>
    
                        <div class="color">
                            <input type="radio" id="card-1-green" name="color" value="green">
                            <label for="card-1-green"  class="label-color-green">
                                <span class="label-selected"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="size-box">
                    <div class="size-heading">Size</div>
                    <div class="size-group">
                        <div class="size">
                            <input type="radio" class="size-radio" id="card-1-s" name="size" value="S">
                            <label for="card-1-s" class="label-size">S
                                <span class="size-label-selected"></span>
                            </label>
                        </div>

                        <div class="size">
                            <input type="radio" class="size-radio" id="card-1-m" name="size" value="M">
                            <label for="card-1-m" class="label-size">M
                                <span class="size-label-selected"></span>
                            </label>
                        </div>

                        <div class="size">
                            <input type="radio" class="size-radio" id="card-1-l" name="size" value="L">
                            <label for="card-1-l" class="label-size">L
                                <span class="size-label-selected"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="btn-container">
                    <a href="#" class="btn btn-primary">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Add to Cart</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Card 2 -->

        <div class="card">
            <div class="card-img-box">
                <img class="card-img" src="./assets/image-2.jpg" alt="Shopping Image">
            </div>
            <div class="card-content-box">
                <div class="heading">
                    <h4 class="card-name">Men's Plain T Shirt</h4>
                    <span class="price">$35</span>
                </div>
                <p class="card-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                </p>

                <div class="color-box">
                    <h5 class="color-heading">Color</h5>
                    <div class="color-group">
                        <div class="color">
                            <input type="radio" id="card-2-red" name="color" value="red">
                            <label for="card-2-red"  class="label-color-red">
                                <span class="label-selected"></span>
                            </label>
                        </div>
    
                        <div class="color">
                            <input type="radio" id="card-2-black" name="color" value="red">
                            <label for="card-2-black"  class="label-color-black">
                                <span class="label-selected"></span>
                            </label>
                        </div>
    
                        <div class="color">
                            <input type="radio" id="card-2-green" name="color" value="green">
                            <label for="card-2-green"  class="label-color-green">
                                <span class="label-selected"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="size-box">
                    <div class="size-heading">Size</div>
                    <div class="size-group">
                        <div class="size">
                            <input type="radio" class="size-radio" id="card-2-s" name="size" value="S">
                            <label for="card-2-s" class="label-size">S
                                <span class="size-label-selected"></span>
                            </label>
                        </div>

                        <div class="size">
                            <input type="radio" class="size-radio" id="card-2-m" name="size" value="M">
                            <label for="card-2-m" class="label-size">M
                                <span class="size-label-selected"></span>
                            </label>
                        </div>

                        <div class="size">
                            <input type="radio" class="size-radio" id="card-2-l" name="size" value="L">
                            <label for="card-2-l" class="label-size">L
                                <span class="size-label-selected"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="btn-container">
                    <a href="#" class="btn btn-primary">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Add to Cart</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>