<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Card</title>
    <link rel="stylesheet" href="card2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <!-- Crad 1 -->
        <div class="card card-basic">
            <div class="card-header">
                Basic
            </div>
            <div class="card-price">
                <span class="currency-sybmol">$</span>
                <span class="price">49</span>
                <span class="price-duration">/ year</span>
            </div>
            <div class="card-body">
                <div class="card-features">
                    <ul class="card-features-list">
                        <li class="list-item">
                            <span>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                800 Requests / day
                            </span>
                            <span class="fa-success">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>

                        </li>

                        <li class="list-item">
                            <span>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                Billing Alerts
                            </span>
                            <span class="fa-success">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </li>

                        <li class="list-item">
                            <span>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                24 / 7 Support
                            </span>
                            <span class="fa-error">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                        </li>

                        <li class="list-item">
                            <span>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                Dedicated Server
                            </span>
                            <span class="fa-error">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                        </li>

                        <li class="list-item">
                            <span>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                Dedicated Support
                            </span>
                            <span class="fa-error">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="card-cta">
                    <a href="#" class="btn-cta btn-cta-basic">Subsribe</a>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>

        <!-- card 2 -->
        <div class="card card-application">
            <div class="card-header">
                Application
            </div>
            <div class="card-price">
                <span class="currency-sybmol">$</span>
                <span class="price">149</span>
                <span class="price-duration">/ year</span>
            </div>
            <div class="card-body">
                <div class="card-features">
                    <ul class="card-features-list">
                        <li class="list-item">
                            <span>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                800 Requests / day
                            </span>
                            <span class="fa-success">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>

                        </li>

                        <li class="list-item">
                            <span>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                Billing Alerts
                            </span>
                            <span class="fa-success">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </li>

                        <li class="list-item">
                            <span>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                24 / 7 Support
                            </span>
                            <span class="fa-success">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </li>

                        <li class="list-item">
                            <span>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                Dedicated Server
                            </span>
                            <span class="fa-error">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                        </li>

                        <li class="list-item">
                            <span>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                Dedicated Support
                            </span>
                            <span class="fa-error">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="card-cta">
                    <a href="#" class="btn-cta btn-cta-application">Subsribe</a>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>

        <!-- Card 3 -->
        <div class="card card-corporate">
            <div class="card-header">
                Application
            </div>
            <div class="card-price">
                <span class="currency-sybmol">$</span>
                <span class="price">249</span>
                <span class="price-duration">/ year</span>
            </div>
            <div class="card-body">
                <div class="card-features">
                    <ul class="card-features-list">
                        <li class="list-item">
                            <span>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                800 Requests / day
                            </span>
                            <span class="fa-success">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>

                        </li>

                        <li class="list-item">
                            <span>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                Billing Alerts
                            </span>
                            <span class="fa-success">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </li>

                        <li class="list-item">
                            <span>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                24 / 7 Support
                            </span>
                            <span class="fa-success">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </li>

                        <li class="list-item">
                            <span>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                Dedicated Server
                            </span>
                            <span class="fa-success">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </li>

                        <li class="list-item">
                            <span>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                Dedicated Support
                            </span>
                            <span class="fa-success">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="card-cta">
                    <a href="#" class="btn-cta btn-cta-corporate">Subsribe</a>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>

    </div>
</body>

</html>