<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <h1>Pagination Component</h1>
    <div class="pagination-container">
        <a href="#" class="pagination-link"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        <a href="#" class="pagination-link"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
       
        <a href="#" class="pagination-link">1</a>
        <a href="#" class="pagination-link">2</a>
        <a href="#" class="pagination-link pagination-link-active">3</a>
        <a href="#"class="pagination-link">4</a>
        <a href="#" class="pagination-link">5</a>
        <a href="#" class="pagination-link">6</a>
        <a href="#" class="pagination-link">7</a>
        <a href="#" class="pagination-link">8</a>
        <a href="#" class="pagination-link">9</a>
        <a href="#" class="pagination-link">10</a>

        <a href="#" class="pagination-link"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="pagination-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
</body>

</html>