<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Alert</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="container">
        <h1 style="margin: 20px;">Basic  Alerts</h1>
        <div class="alert alert-primary">
            <span class="icon-box"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
            <p class="alert-text">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <span class="alert-close">X</span>
        </div>

        <div class="alert alert-success">
            <span class="icon-box"><i class="fa fa-check" aria-hidden="true"></i></span>
            <p class="alert-text">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <span class="alert-close">X</span>
        </div>

        <div class="alert alert-warning">
            <span class="icon-box"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
            <p class="alert-text">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <span class="alert-close">X</span>
        </div>

        <div class="alert alert-error">
            <span class="icon-box"><i class="fa fa-times" aria-hidden="true"></i></span>
            <p class="alert-text">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <span class="alert-close">X</span>
        </div>
    </div>
    
</body>
</html>