<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="main-container">
        <label for="modal-checkbox" class="modal-label-open"> Open Modal</label>
        <input type="checkbox" class="modal-checkbox" id="modal-checkbox">
        <div class="modal-container">
            <div class="modal">
                <label for="modal-checkbox" class="modal-label-close">X</label>
                <div class="modal-header">
                    Modal Header
                </div>
                <div class="modal-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae dolorem officiis corrupti adipisci voluptates. Cupiditate aliquam, vel doloribus nobis soluta eum! Laboriosam magni assumenda debitis eaque. Magnam deserunt nulla iusto.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis corrupti ea eaque voluptates facilis. Necessitatibus nam consectetur aut nobis quaerat inventore ad eaque nihil pariatur explicabo. Cupiditate sint facilis voluptas.
                </div>
                <div class="modal-footer">
                    <a href="#" class="link-btn">Proceed &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>