<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accrodian</title>
    <link  rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="container">
        <div class="main-container">
            <h1>Accordion</h1>
            <div class="accordion">
                <input type="checkbox" class="accordion-chkbox" id="accordion-chkbox-1">
                <label for="accordion-chkbox-1" class="accordian-label">What is HTML ?</label>
                <div class="accordion-content">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta dolore perspiciatis delectus quisquam, non quo quibusdam explicabo autem incidunt aperiam commodi. Aspernatur ducimus excepturi dolore aliquam. Possimus esse nihil vero.
                </div>
            </div>

            <div class="accordion">
                <input type="checkbox" class="accordion-chkbox" id="accordion-chkbox-2">
                <label for="accordion-chkbox-2" class="accordian-label">What is JS ?</label>
                <div class="accordion-content">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta dolore perspiciatis delectus quisquam, non quo quibusdam explicabo autem incidunt aperiam commodi. Aspernatur ducimus excepturi dolore aliquam. Possimus esse nihil vero.
                </div>
            </div>

            <div class="accordion">
                <input type="checkbox" class="accordion-chkbox" id="accordion-chkbox-3">
                <label for="accordion-chkbox-3" class="accordian-label">What is CSS ?</label>
                <div class="accordion-content">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta dolore perspiciatis delectus quisquam, non quo quibusdam explicabo autem incidunt aperiam commodi. Aspernatur ducimus excepturi dolore aliquam. Possimus esse nihil vero.
                </div>
            </div>
        </div>
    </div>
</body>
</html>