<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accrodian</title>
    <link  rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="container">
        <div class="main-container">
            <h1>Accordion</h1>
            <div class="accordion">
                <input type="radio" class="accordion-radio" id="accordion-radio-1" name="single-open-accrodion">
                <label for="accordion-radio-1" class="accordian-label">What is HTML ?</label>
                <div class="accordion-content">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta dolore perspiciatis delectus quisquam, non quo quibusdam explicabo autem incidunt aperiam commodi. Aspernatur ducimus excepturi dolore aliquam. Possimus esse nihil vero.
                </div>
            </div>

            <div class="accordion">
                <input type="radio" class="accordion-radio" id="accordion-radio-2" name="single-open-accrodion">
                <label for="accordion-radio-2" class="accordian-label">What is JS ?</label>
                <div class="accordion-content">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta dolore perspiciatis delectus quisquam, non quo quibusdam explicabo autem incidunt aperiam commodi. Aspernatur ducimus excepturi dolore aliquam. Possimus esse nihil vero.
                </div>
            </div>

            <div class="accordion">
                <input type="radio" class="accordion-radio" id="accordion-radio-3" name="single-open-accrodion">
                <label for="accordion-radio-3" class="accordian-label">What is CSS ?</label>
                <div class="accordion-content">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta dolore perspiciatis delectus quisquam, non quo quibusdam explicabo autem incidunt aperiam commodi. Aspernatur ducimus excepturi dolore aliquam. Possimus esse nihil vero.
                </div>
            </div>
        </div>

        <!-- <div>
            <input type="radio" name="group">
            <input type="radio" name="group">
            <input type="radio" name="group">
        </div> -->
    </div>
</body>
</html>